<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-group" action="post"> <label for="new-post"><h4>New Post:</h4></label> <textarea class="form-control" rows="5" id="new-post"></textarea>
          <div class="col-md-2 my-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-3" style="border:1px solid #cecece;">
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col-md-1"></th>
              <th class="col-md-5">Jumail Mundekkat</th>
              <th class="col-md-6">16:00 24/06/17</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row">
              <td class="col-md-1">
                <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
              <td class="col-md-11">INSERT RANDOM TEXT HERE
                <div></div>MORE WORDS</td>
            </tr>
            <tr class="row">
              <td class="col-md-1"></td>
              <td class="col-md-11">
                <div class="col-md-12 border">
                  <table class="table">
                    <thead>
                      <tr class="row">
                        <th class="col-md-1"></th>
                        <th class="col-md-5">Jumail Mundekkat</th>
                        <th class="col-md-6">16:00 24/06/17</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row">
                        <td class="col-md-1">
                          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
                        <td class="col-md-11">INSERT RANDOM TEXT HERE
                          <div>MORE WORDS</div>
                        </td>
                      </tr>
                      <tr class="row">
                        <td class="col-md-1"></td>
                        <td class="col-md-11">
                          <div class="col-md-12 border">
                            <table class="table">
                              <thead>
                                <tr class="row">
                                  <th class="col-md-1"></th>
                                  <th class="col-md-5">Jumail Mundekkat</th>
                                  <th class="col-md-6">16:00 24/06/17</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="row">
                                  <td class="col-md-1">
                                    <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
                                  <td class="col-md-11">INSERT RANDOM TEXT HERE
                                    <div>MORE WORDS</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-md-1"></td>
              <td class="col-md-11">
                <div class="col-md-12 border">
                  <table class="table">
                    <thead>
                      <tr class="row">
                        <th class="col-md-1"></th>
                        <th class="col-md-5">Jumail Mundekkat</th>
                        <th class="col-md-6">16:00 24/06/17</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row">
                        <td class="col-md-1">
                          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
                        <td class="col-md-11">INSERT RANDOM TEXT HERE
                          <div>MORE WORDS</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 border my-3">
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col-md-1"></th>
              <th class="col-md-5">Jumail Mundekkat</th>
              <th class="col-md-6">16:00 24/06/17</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row">
              <td class="col-md-1">
                <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
              <td class="col-md-11">INSERT RANDOM TEXT HERE
                <div></div>MORE WORDS</td>
            </tr>
            <tr class="row">
              <td class="col-md-1"></td>
              <td class="col-md-11">
                <div class="col-md-12 border">
                  <table class="table">
                    <thead>
                      <tr class="row">
                        <th class="col-md-1"></th>
                        <th class="col-md-5">Jumail Mundekkat</th>
                        <th class="col-md-6">16:00 24/06/17</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row">
                        <td class="col-md-1">
                          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
                        <td class="col-md-11">INSERT RANDOM TEXT HERE
                          <div>MORE WORDS</div>
                        </td>
                      </tr>
                      <tr class="row">
                        <td class="col-md-1"></td>
                        <td class="col-md-11">
                          <div class="col-md-12 border">
                            <table class="table">
                              <thead>
                                <tr class="row">
                                  <th class="col-md-1"></th>
                                  <th class="col-md-5">Jumail Mundekkat</th>
                                  <th class="col-md-6">16:00 24/06/17</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="row">
                                  <td class="col-md-1">
                                    <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
                                  <td class="col-md-11">INSERT RANDOM TEXT HERE
                                    <div>MORE WORDS</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-md-1"></td>
              <td class="col-md-11">
                <div class="col-md-12 border">
                  <table class="table">
                    <thead>
                      <tr class="row">
                        <th class="col-md-1"></th>
                        <th class="col-md-5">Jumail Mundekkat</th>
                        <th class="col-md-6">16:00 24/06/17</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row">
                        <td class="col-md-1">
                          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </td>
                        <td class="col-md-11">INSERT RANDOM TEXT HERE
                          <div>MORE WORDS</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>